body.dark-mode {
    background-color: #1a1a1a;
    color: white;
}
body.dark-mode .login-container,
body.dark-mode .actions,
body.dark-mode .broker-panel,
body.dark-mode .transactions,
body.dark-mode .support,
body.dark-mode .loan {
    background-color: #2c2c2c;
}
body.dark-mode .chat-container {
    background-color: #333;
}
body.dark-mode .chat-message.bot {
    background-color: #555;
}
body.dark-mode .crypto-trading th {
    background-color: #003087;
}
body.dark-mode .logo svg .logo-text,
body.dark-mode .logo svg .sub-text {
    fill: white;
}
body.dark-mode .logo svg .underline {
    stroke: url(#gradient-dark);
}
body.dark-mode .chat-message.user {
    background-color: #444;
}
body.dark-mode .notification {
    background-color: #28a745;
}
body.dark-mode svg defs linearGradient#gradient-dark {
    x1: "0%"; y1: "0%"; x2: "100%"; y2: "0%";
    stop[offset="0%"] { stop-color: #333; }
    stop[offset="100%"] { stop-color: #f9c80e; }
}
